<header>
    <div class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar"
    >
      <div class="container">
        <a class="navbar-brand logo fadeIn">NOREVE</a>
      </div>
    </div>


<div class ="active fadeIn">
  <nav>
    <a id="resp-menu" class="responsive-menu fadeIn"><i class="fa fa-reorder fadeIn"></i> Menu</a>
    <ul class="menu">
      <li><a class="lien fadeIn">SMARTPHONES</a>
        <ul class="sub-menu">
          <li><a class="lien fadeIn">Acer</a>
            <ul>
              <li><a class="lien fadeIn" (click)="createComponent('Liquids2')">Liquid s2</a></li>
              <li><a class="lien fadeIn" (click)="createComponent('Allegro')">Allegro</a></li>
              <li><a class="lien fadeIn" (click)="createComponent('Iconiasmart')">Iconia Smart</a></li>
              <li><a class="lien fadeIn" (click)="createComponent('Liquidexpress')">Liquid express</a></li>
              <li><a class="lien fadeIn" (click)="createComponent('liquidmetal')">liquid metal</a></li>
            </ul>
          </li>
          <li><a class="lien fadeIn">Airis</a>
            <ul>
              <li><a class="lien fadeIn">Sub Sub-Menu 1</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 2</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 3</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 4</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 5</a></li>
            </ul>
          </li>
          <li><a class="lien fadeIn">Amazon</a>
            <ul>
              <li><a class="lien fadeIn">Sub Sub-Menu 1</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 2</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 3</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 4</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 5</a></li>
            </ul>
          </li>
          <li><a class="lien fadeIn">Apple</a>
            <ul>
              <li><a class="lien fadeIn" (click)="createComponent('Iphonesx')">Iphones X</a></li>
              <li><a class="lien fadeIn" (click)="createComponent('Iphones7')">Iphones 7</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 3</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 4</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 5</a></li>
            </ul>
          </li>
          <li><a class="lien fadeIn">Asus</a>
            <ul>
              <li><a class="lien fadeIn">Sub Sub-Menu 1</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 2</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 3</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 4</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 5</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a class="lien fadeIn">TABLETTES</a>
        <ul>
          <li><a class="lien fadeIn">Ipads</a>
          <ul>
            <li><a class="lien fadeIn" (click)="createComponent('Ipads2')">Ipads 2</a></li>
            <li><a class="lien fadeIn">Sub Sub-Menu 3</a></li>
            <li><a class="lien fadeIn">Sub Sub-Menu 4</a></li>
            <li><a class="lien fadeIn">Sub Sub-Menu 5</a></li>
          </ul>
          </li>
          <li><a class="lien fadeIn">Sub Sub-Menu 2</a></li>
          <li><a class="lien fadeIn">Sub Sub-Menu 3</a></li>
          <li><a class="lien fadeIn">Sub Sub-Menu 4</a></li>
          <li><a class="lien fadeIn">Sub Sub-Menu 5</a></li>
      </ul>
    </li>
      <li><a class="lien fadeIn"> LECTEUR MP3</a>
        <ul class="sub-menu">
          <li><a class="lien fadeIn">Sub-Menu 1</a></li>
          <li><a class="lien fadeIn">Sub-Menu 2</a>
            <ul>
              <li><a class="lien fadeIn">Sub Sub-Menu 1</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 2</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 3</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 4</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 5</a></li>
            </ul>
          </li>
          <li><a class="lien fadeIn">Sub-Menu 3</a>
            <ul>
              <li><a class="lien fadeIn">Sub Sub-Menu 4</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 5</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a class="lien fadeIn">ORDINATEUR</a></li>
      <li><a class="lien fadeIn">PHOTOS</a>
        <ul class="sub-menu">
          <li><a class="lien fadeIn">Sub-Menu 1</a></li>
          <li><a class="lien fadeIn">Sub-Menu 2</a>
            <ul>
              <li><a class="lien fadeIn">Sub Sub-Menu 1</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 2</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 3</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 4</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 5</a></li>
            </ul>
          </li>
          <li><a class="lien fadeIn">Sub-Menu 3</a>
            <ul>
              <li><a class="lien fadeIn">Sub Sub-Menu 1</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 2</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 3</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 4</a></li>
              <li><a class="lien fadeIn">Sub Sub-Menu 5</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a class="lien fadeIn"><i class="fa fa-envelope"></i> PROMOTIONS</a></li>


      <a id="panier" class="fadeIn lien">
        <button routerLink="panier" id="panier-btn" class="btn bouton-panier fadeIn" type="button" data-toggle="collapse"
          data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
          <span class="glyphicon glyphicon-shopping-cart image_panier" id="cardQuantity"></span>
      
        </button>
      
      </a>    
      <li class="navbar_right fadeIn">
        <div class="searchform cf fadeIn">
          <form id="form" onsubmit="return false;">
            <input type="text" id="recherche" class="search fadeIn" name="search" placeholder="Recherche" autocomplete="off" />
          </form>
          <button type="button" id="boutonRecherche" (click)="rechercherCategorie()">Rechercher</button>
        </div>
      </li>

    </ul>
  </nav>
</div>


</header>



<div class="main">
  <div class="content">
    <div class="row">
      <div class="products">
        <div class="row no-gutters">
          <template #DivArticleContainer></template>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
